# Ignore everything by default
*

# Allow required folders
!frontend/
!evaluation/
!api/
!graph/
!logs/
!ml/
!recommender/

# Allow all files inside allowed folders
!frontend/**
!evaluation/**
!api/**
!graph/**
!logs/**
!ml/**
!recommender/**

# Allow important root files (optional but recommended)
!README.md
!docker-compose.yml
!requirements.txt
!.gitignore
